
a {
	text-decoration: none;
	color: gray;
	margin: .6rem 0;
	font-size: 1rem;
	display: block;
	width: 200px;
}
.icon{
	margin: 0 20px;
	color: var(--gray);
	font-size: 2rem;
}

.active-link, .active-link > *{
	color: limegreen;
}
