.folder{
	width: calc(100% - 6rem);
	height: 80%;
	max-height: 600px;
	background: white;
	margin: 3rem;
	padding: 1rem;
}
.wrapper{
	height: calc(100% - 3rem);
	margin-top: 3rem;
	overflow-y: scroll;
}
button{
	float: right;
}
